.container {
    background-color: #823200;
    /* border: 1px solid #650D1B; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 50px;
    height: 600px;
    width: 670px;
    gap: 25px;
  }